/* Enter your Styles below! */

.navbar{
	position:;
}
body { 
	font-family: 'Big Shoulders Text', cursive;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: 'Supermercado One', cursive;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}

blockquote {
	margin: 20px 60px;
	font-family: 'Big Shoulders Text', cursive;
}

header {margin-bottom: 20px;}
body {
  align-items: center;
  height: 90vh;
}

.text-line {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s linear forwards, filling 3s ease-in forwards;
  font-size: 80px;
 
}

.text-line text {
  font-family: 'Supermercado One', cursive;
  font-weight: normal;
  font-style: normal;

}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0%, 100% { fill: #003300; fill-opacity: 0%; }
  100% { fill: #003300; fill-opacity: 100%; }
}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
	color: #003300;
	text-decoration: none;
	 }
a:hover { color: white; }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}
@media only screen and (min-width: 768px){
	body{
		background-color:skyblue;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}

}
@media only screen and (min-width: 1024px){
	body{
		background-color:salmon;
}

}
@media only screen and (min-width: 1200px){
	body{
		background-color:pink;
}

}

/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/